<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnMoEoPpiz2CDfFiXOjJbMoGR07TfUC0U</string>
	<key>GCM_SENDER_ID</key>
	<string>811505798364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edpal.edpal</string>
	<key>PROJECT_ID</key>
	<string>edpal-60c29</string>
	<key>STORAGE_BUCKET</key>
	<string>edpal-60c29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811505798364:ios:c18212ffca05c366bd7819</string>
</dict>
</plist>